@font-face {
    font-family: "netmarble";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "netmarble";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Medium.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "netmarble";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/netmarble/netmarble-Bold.ttf") format("truetype");
    font-display: swap;
} 
.netmarble {
    font-family: 'netmarble';
}
.netmarble300 {
    font-family: 'netmarble';
    font-weight: 300;
}
.netmarble500 {
    font-family: 'netmarble';
    font-weight: 500;
}
.netmarble700 {
    font-family: 'netmarble';
    font-weight: 600;
}
